h2
	i.fa.fa-search
	| Forensische Tools

div.wordsearch

div.websites

h3
	i.fa.fa-picture-o
	| Gespeicherte Bilder
	div.right.picture-options
		i.fa-globe.fa.map(title="Bilder als Karte anzeigen")
		i.fa-list-alt.fa.list(title="Bilder als Liste anzeigen")

div.pictures

div.timestamp
