div.dumps

  margin: 0.3em

  h1
    color: lighten(#333333, 75%)

  ul
    list-style-type: none
    margin: 0

    li
      margin-bottom: 1em

      span
        display: block

      span.id
        font-size: 1.4em
        color: #fff

      span.date
        color: darken(#ffffff, 25%)

