div.error
  background-color: #FC6042
  width: 100%
  height: 100%

  text-align: center
  padding-top: 5%

  i.head
    font-size: 10em
    color: lighten(#FC6042, 10)

  h1
    font-weight: 100
    font-size: 4em
    color: #fff

  .stack
    margin: 3em 0

  p
    text-transform: uppercase

  a
    color: #fff
