
$page-width-std = 800px
$page-width-huge = 1100px

/*** NAVIGATION ***/
$nav-item-width = 100% / 5
$nav-lightener-multi = 15

/*** COLORS ***/

/* INFO */
$color-highlight-info = #2C82C9

/* TIMELINE */
$color-highlight-timeline = #2CC990

/* OVERVIEW */
$color-highlight-overview = #EEE657

/* CONTACT */
$color-highlight-contact = #FCB941

/* FORENSIC */
$color-highlight-forensic = #FC6042
