
/*** NAVIGATION ***/
$nav-item-width = 100% / 5
$nav-lightener-multi = 15

/*** COLORS ***/

/* INFO */
$color-highlight-info = #2C82C9

/* TIMELINE */
$color-highlight-timeline = #2CC990

/* OVERVIEW */
$color-highlight-overview = #EEE657

/* CONTACT */
$color-highlight-contact = #FCB941

/* MESSAGE */
$color-highlight-message = #FC6042
