@import "../../public/components/foundation/css/normalize.css"
@import "../../public/components/foundation/css/foundation.css"
@import "../../public/components/nvd3/nv.d3.css"
@import "../../public/components/font-awesome/css/font-awesome.css"

@import "../public/vendor/hint.css"
//@import "../public/vendor/timeline/timeline.css"

@import "_variables"

@import "structure/links-timeline"

@import "common/spinner"

@import "tpl/skeleton"

@import "pages/load"
@import "pages/info"
@import "pages/timeline"
@import "pages/overview"
@import "pages/contact"
@import "pages/forensic"


html, body
	height: 100%
	font-weight: 100 !important

.clear
	clear: both

section.content
	height: 100%
	width: 100%

i.fa
	margin-right: 0.3em