h2 Aktivität pro Tag für 2013

div.chart

div.info
	h3 Durchschnittlich
	div
		i.fa.fa-phone
		| #{info.minutes} Minuten
	div 
		i.fa.fa-envelope
		| #{info.messages} Nachrichten
	div 
		i.fa.fa-comment
		| #{info.whatsapp} Whatsapp