
h2 Chronologischer Verlauf aller Aktivitäten

div.filter
	a(href="#", data-timeline="phone").active
		i.fa.fa-phone
		| Telefonate
	a(href="#", data-timeline="message").active
		i.fa.fa-envelope
		| Nachrichten
	a(href="#", data-timeline="browser").active
		i.fa.fa-globe
		| Webseiten
	i.fa.fa-clock-o
	input(type="date", placeholder="Zu Datum springen")

div.links