//div.history
div.filter
	h4 
		i.fa.fa-filter
		| Graphen für 2012, 2013, 2014
	h5 
		a(href="#") 
			i.fa.fa-arrow-down
			| Nur Empfanges
		a(href="#") 
			i.fa.fa-arrow-up
			|	Nur Gesendetes
		a(href="#") 
			i.fa.fa-eraser
			| Gesendetes und Empfangenes

div.monthly.timechart

div.weekly.timechart

div.daily.timechart