doctype html
html

  head
    title forDASH
    link(rel='stylesheet', href='/css/main.css')
    block head
    script(type='text/javascript', src='/components/requirejs/require.js', 'data-main'='/js/main')


  body
    //header
    section.content.left
