div.shortstats

div.pie.numbers
	h3
		i.fa.fa-users
		| Nummern/Kontakt

div.pie.calllogs
	h3 
		i.fa.fa-phone
		| Anruftypen

div.pie.messages
	h3
		i.fa.fa-envelope
		| Nachrichtentypen

div.topcontact

div.timestats