nav(data-magellan-expedition="fixed")
	dl.sub-nav
		dd.item.info(data-magellan-arrival="info", title="Info")
			a(href="#info") Dumpinfo
		dd.item.overview(data-magellan-arrival="overview", title="Overview")
			a(href="#overview") Overview
		dd.item.timeline(data-magellan-arrival="timeline", title="Timeline")
			a(href="#timeline") Timeline
		dd.item.contact(data-magellan-arrival="contact", title="Contact")
			a(href="#contact") Contact
		dd.item.message(data-magellan-arrival="message", title="Message")
			a(href="#message") Message

a(name="info")
article#info.info(data-magellan-destination="info")
a(name="overview")
article#overview.overview(data-magellan-destination="overview")
a(name="timeline")
article#timeline.timeline(data-magellan-destination="timeline")
a(name="contact")
article#contact.contact(data-magellan-destination="contact")
a(name="message")
article#message.message(data-magellan-destination="message")