nav(data-magellan-expedition="fixed")
	dl.sub-nav
		dd.item.info(data-magellan-arrival="info", title="Info")
			a(href="#info") Dumpinfo
		dd.item.overview(data-magellan-arrival="overview", title="Overview")
			a(href="#overview") Zusammenfassung
		dd.item.timeline(data-magellan-arrival="timeline", title="Timeline")
			a(href="#timeline") Zeitliche Daten
		dd.item.contact(data-magellan-arrival="contact", title="Contact")
			a(href="#contact") Kontakte
		dd.item.forensic(data-magellan-arrival="forensic", title="Forensiche Tools")
			a(href="#forensic") Forensische Tools

a(name="info")
article#info.info(data-magellan-destination="info")
a(name="overview")
article#overview.overview(data-magellan-destination="overview")
a(name="timeline")
article#timeline.timeline(data-magellan-destination="timeline")
a(name="contact")
article#contact.contact(data-magellan-destination="contact")
a(name="forensic")
article#forensic.forensic(data-magellan-destination="forensic")